// AggiuntaNuovoFileSCSS - Nel vostro file importate le variabili come fatto nella riga seguente.
@import "site.variables.scss";

.onit-page-main-login {
    background-color: #293036; /* Picture prevalent color for better loading */
    background-image: url('../images/login-example.jpg'); /* Select the correct size and compression for better performance */
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.onit-login-box {
    flex: 1 1 auto;
    max-width: 400px;
    margin: auto;
    border: 1px solid $white;
    -webkit-box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.4);
    background-color: $white;

    .onit-login-box-title {
        padding: 3rem 1.5rem;
        background-color: $color-background-dark;
        color: $white;
        text-align: center;
        border-bottom: 5px solid $color-app;
    }

    .onit-login-box-form {
        padding: 1.5rem;
        margin-right: 0;
    }

    .onit-login-box-footer {
        padding: 1.5rem 1rem 1.5rem 1.5rem;
        display: flex;
        flex-wrap: wrap;
    }
}
